table{
    width: 60%;
    /*margin: auto;*/
}

#checkList {
    list-style-type: none;
    padding: 20px 0;
}

#checkList li {
    display: block;
    font-weight: bold;
    padding-bottom: 10px;
}

table {
    font-weight: bold;
}

tr:first-child {
    color: red;
}

