body {
    background: #ECECEC;
/*    overflow-x: auto;*/
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 320px;
      height: 215px;
      margin: auto;
  }
  
  
  #myCarousel {
      margin-bottom: 20px;
      
  }



.btn {
    font-size: 16pt;
}

h3{
text-align: center;
}


@media (max-width: 768px) {
    
    .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 200px;
      height: 150px;
      margin: auto;
  }

    .my-carousel {
        height: 50%;
    }
    
    .SR {
        margin-bottom: 5px;
    }
    
}