.bk {
	width: 100%;
	height: 300px;
    background: url(../images/reserve/reserve5.jpg) no-repeat; 
    background-size: 100% auto;
    opacity: 0.8;
}

#reserve-title {
	margin-bottom: 20px;
}

.reserve-details .row .col-sm-4,
.reserve .row .col-sm-4,
.reserve .row .col-sm-6,
.reserve .row .col-sm-12,
.confirm .row .col-sm-4,
.confirm .row .col-sm-6,
.confirm .row .col-sm-12 {
	padding-left: 0;
}

.reserve .row .col-sm-4:last-of-type,
.reserve .row .col-sm-6:last-of-type,
.reserve .row .col-sm-12,
.confirm .row .col-sm-4:last-of-type,
.confirm .row .col-sm-6:last-of-type,
.confirm .row .col-sm-12 {
	padding-right: 0;
}

.reserve .row,
.confirm .row {
	margin: 0;
}

.reserve-details .row {
	margin-left: 0;
	margin-right: 0;
}

.res-detail {
	margin-right: 30px;
	display: inline-block;
}

.res-confirm-btn {
	display: inline-block;
}

.reserve-date,
.reserve-input {
	position: relative;
	box-shadow: none;
	height: 40px;
}

.reserve input.form-control {
	height: 50px;
}

.reserve-label {
	position: absolute;
    display: block;
    color: #222;
    padding: 1.15em;
    height: 3.75em;
    width: 100%;
}

.reserve-select a:hover {
	text-decoration: none;
	color: #222;
	cursor: pointer;
}

.reserve-label .glyphicon {
	float: right;
	padding: 0.25em;
  	color: #222;
  	position: relative;
  	z-index: 2;
}

.reserve-select {
	width: 100%;
	float: left;
	margin-bottom: 5%;
	position: relative;
}

.reserve-select select,
.reserve-select input {
    width: 100%;
    padding: 15px;
    -webkit-appearance: none;
	position: relative;
	cursor: pointer;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #fff;
	color: #222;
}

.reserve-loader {
	color: #3d3d58;
	position: absolute;
	top:50%;
	left:48%;
}

.thanks-container {
  	background: #fff;
  	border: 1px solid #ccc;
  	text-align: center;
  	width: 80%;
  	margin: 50px auto;
  	padding: 25px;
}

.thanks-details {
	border: 1px solid #ccc;
	padding: 20px;
	margin: 30px auto;
	width: 80%;
	text-align: left;
}

.fa-check-circle {
	color: #27FB6B;
}

.flash {
	display: inline-block;
	position: absolute;
	bottom: 25px;
	right: 15px;
	z-index: 100;
}

/* Datepicker */
.datepicker-days table.table-condensed {
	border-collapse: separate;
	border-spacing: 5px;
}

.datepicker-days table.table-condensed tfoot {
	display: none;
}

td.today.active.day {
	background: #da3743!important;
	border-radius: 50%;
	padding: 5px!important;
}

td.day {
	padding: 10px!important;
}

td.day:hover,
th.next:hover,
th.prev:hover {
	border-radius: 50%;
	background-color: #ccc;
}

/* CMS - Manage Tables */

.manage-tables {
	margin-bottom: 30px;
}

.manage-tables .row {
	margin-left: 0;
	margin-right: 0;
}

#all_tables td.delete-table {
	text-align: right;
}

/* validation */

.error {
	color: red;
}

/* Responsive */
@media(max-width:768px){

	.reserve-form .row .col-sm-12 {
		padding-left: 15px;
	}

	.reserve .row .col-sm-4,
	.reserve .row .col-sm-6,
	.confirm .row .col-sm-4,
	.confirm .row .col-sm-6 {
		padding-right: 0;
	}

	.reserve-select {
		margin-bottom: 2%;
	}
}