@import url(http://fonts.googleapis.com/css?family=Slabo+27px);

html{
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 35px;
    background: #ECECEC;
    }

.my-container{
    width: 100%;
    height: 89vh;
    background-image: url(../images/food.jpg);
    background-size: 100% auto;
}

.navbar-nav > li > a{
    font-family: 'Slabo 27px', serif;
    font-size: 14pt;
    background-color: #3d3d58;
    color: #ffeec9 !important;
   
}

.navbar-collapse {
    background-color: #3d3d58;
}

.right-align {
    float: right;
    margin: 10px 0;
}

.navbar {
    margin: 0;
    border: 0;
}


.navbar-brand {
    color: #FFF !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #fff; /* Change color for horizontal lines */
}

#main {
    overflow: hidden;
    z-index: -99;
    
}

#search {
    border: 1px #000 solid;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    
}


#title {
    position: absolute;
    left: 38%;
    top:25%;
    z-index: 1;
}

#title h1{
    color: #ffeec9; 
    text-transform: uppercase;
    font-family: 'Slabo 27px', serif;
    text-align: center;
    font-size: 4em;
}

.SR{
    background: #3d3d58;
    border: #3d3d58;
    color: #ffeec9;     
}

.SR:hover {
    background: #56566C !important;
    color: #fff;
}

#logo {
    width: 100px;
    padding: 5px;
    height: auto;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  background-color: #3d3d58;
  color: #ffeec9;
  text-align: center;
  font-family: 'Slabo 27px', serif;
}




@media (max-width: 768px) {
    

    .navbar-header {
        background-color: #3d3d58;
    }

} 


